[Desktop Entry]
Name=MyTwoCents
Comment=Controle Financeiro Pessoal
Exec=/opt/mytwocents/bin/MyTwoCents
Icon=/opt/mytwocents/lib/MyTwoCents.png
Terminal=false
Type=Application
Categories=Office;Finance;
StartupNotify=true
StartupWMClass=MyTwoCents
