[Desktop Entry]
Name=MyTwoCents
Comment=Controle Financeiro Pessoal
Exec=/opt/mytwocents/bin/MyTwoCents
Icon=MyTwoCents
Terminal=false
Type=Application
Categories=Office;Finance;
StartupNotify=true
StartupWMClass=MyTwoCents
